/*This website was created by Al Hayy Castellá García and ChatGPT as advisor and counsellor. Please, don't copy this code without commenting on the origin of the project and its creators.*/
/*La mayoría participaciones directas de ChatGPT en el código están señaladas, pero no todas.*/


/*header {
    display: flex;
    min-height: 95px;
    background-color: #696969;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}*/




.box{
	min-height: calc(205vh - 200px);  
	margin: 10px;
	color: #FFFFFF;
}

footer{
	height: 200px;
    
}

#copy{
	margin: 10px;
    color:#FFFFFF;
    font-size: 10px;
}


.need-space{
    padding: 100px 0px;
}

h1 {
	color: #000000;
	text-size: 50px;
}

p {
	color: #000000;	
}

/*====================*/
	
